<%= form_with model: @post, class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label(:date) %>
    <%= f.date_field :date, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label(:rationale) %>
    <%= f.text_area :rationale, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.label(:state_event, "Submitted") %>
    <%= f.radio_button :state_event, "submit", checked: @post.submitted? %>

    <%= f.label(:state_event, "Apprvoved") %>
    <%= f.radio_button :state_event, "accept", checked: @post.approved? %>

    <%= f.label(:state_event, "Rejected") %>
    <%= f.radio_button :state_event, "reject", checked: @post.rejected? %>
  </div>
  <%= f.submit("Save", { class: "btn btn-primary btn-block" }) %>
<% end %>
